@font-face {
  font-family: 'TenorSans';
  font-style: normal;
  font-weight: 400;
  src: local('TenorSans'),
       url('./src/fonts/TenorSans-Regular.ttf');
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #dddcdb;
  font-family: 'TenorSans', sans-serif;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.header {
  top: 0;
  position: sticky;
  z-index: 1;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #dddcdb;
  background-color: #ffffff;
}

.top-slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #1d1d1b;
  font-size: 1.2rem;
  color: #ffffff;
}

.top-slogan__container {
  text-align: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo__img {
  position: relative;
  top: -0.2rem;
  height: 5rem;
}

.nav__list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.nav__link {
	color: #1d1d1b;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav__link:hover {
	color: #8a9a8c;
}

.nav__link:after {
	content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -0.3rem;
  width: 0;
  height: 0.1rem;
  background-color: #8a9a8c;
  transition: width 0.4s;
}

.nav__link:hover:after {
	content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 0.1rem;
  transition: width 0.4s;
}

.btn {
  padding: 1rem 2rem;
  border: solid 0.1rem;
  border-radius: 0.5rem;
  font-family: 'TenorSans', sans-serif;
  font-size: 2.5rem;
  color: #5b665c;
  background-color: #00000000;
  transition: all 0.2s;
  text-decoration: none;
}

.btn:hover {
  box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(91, 102, 92, .2);
}

.btn-wide {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-light {
  border-color: #5b665c;
  color: #5b665c;
}

.btn-dark {
  border-color: #5b665c;
  background-color: #5b665c;
  color: #ffffff;
}

.first-section__container {
  display: flex;
  padding: 3rem 0;
  gap: 2rem;
}

.first-section__description-container,
.first-section__img-container {
  padding: 2rem 0;
}


.first-section__description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  gap: 4rem;
  font-size: 2rem;
}

.first-section__img-container {
  width: 60%;
}

.first-section__text-top,
.first-section__text-bottom {
  max-width: 45rem;
  text-align: left;
}

.first-section__text-top {
  font-size: 4rem;
}

.first-section__text-bottom {
  margin-top: 2.5rem;
  font-size: 2.5rem;
}

.first-section__img {
  width: 100%;
  border-radius: 1rem;
}

.second-section,
.fourth-section {
  background-color: #ffffff;
}

.second-section__container,
.third-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.second-section__text,
.third-section__text {
  max-width: 110rem;
  text-align: left;
  color: #1d1d1b;
  font-size: 3rem;
  padding: 2rem 0;
}

.second-section__contant,
.third-section__contant {
  display: flex;
  width: 100%;
  padding: 2rem 0;
}

.second-section__img-container,
.third-section__img-container {
  width: 60%;
}

.second-section__img,
.third-section__img {
  width: 100%;
  border-radius: 1rem;
}

.second-section__description-container,
.third-section__description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 40%;
}

.second-section__description-text {
  text-align: center;
  color: #1d1d1b;
  font-size: 2.5rem;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 110rem;
  gap: 2rem;
}

.stats__container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.stats__card {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  max-width: 30rem;
  gap: 1rem;
}

.stats__card-title {
  font-size: 2.3rem;
}

.stats__card-description {
  font-size: 1.5rem;
}

.stats__card-img {
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.money {
  background-image: url('./src/img/money.png');
}

.time {
  background-image: url('./src/img/time.png');
}

.space {
  background-image: url('./src/img/space.png');
}

.footer {
  background-color: #1d1d1b;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.contacts-link {
  height: 3rem;
  width: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.facebook {
  background-image: url('./src/img/social/Facebook.png');
}

.instagram {
  background-image: url('./src/img/social/Instagram.png');
}

.mail {
  background-image: url('./src/img/social/Mail.png');
}

.telegram {
  background-image: url('./src/img/social/Telegram.png');
}

.tik-tok {
  background-image: url('./src/img/social/TikTok_white.png');
}

/* Slider start*/

.page-title {
  text-align: center;
}

.slider-container {
  position: relative;
  z-index: 0;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Slider end*/

/**/

[data-tooltip] {
  position: relative; /* Относительное позиционирование */ 
}

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 300px; /* Ширина подсказки */
  left: 0; top: 0; /* Положение подсказки */
  background: #3989c9; /* Синий цвет фона */
  color: #fff; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
} 

[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
}

/**/

.booking-section {
  height: 65rem;
  width: 100%;
  background-image: url('./src/img/img_first_section.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-section__text {
  max-width: 70%;
  margin: 0;
}

.container__booking-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}